.App {
  text-align: center;
}

.App-header {
  background-color: azure;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 0, 0, 0.6);
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.title{
  display: flex;
  flex-direction: row;
  align-self: baseline;
  font-weight: 600;
  font-size: medium;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

.container{
  height: 87vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 3rem;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
}

.card{
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px grey;
  margin: 1rem;
  min-width: 310px;
  font-family: cursive;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 26% !important;
  min-width: 310px !important;
  .input-group-text{
    background-color: rgba(226, 232, 240, 0.6);
    border-right: 0;
  }
  input{
    border-left: 0;
    background-color: rgba(226, 232, 240, 0.6);
    font-family: cursive;
  }
  input:focus{
    box-shadow: none;
  }
}

/* .search{
  height: 2.5rem;
  padding-left: 3rem;
  padding-right: 1rem;
  border-radius: 0.75rem;
  background-color: rgba(226, 232, 240, 0.6);
  border: 1px solid transparent;
  color: inherit;
  width: 23%;
  min-width: 240px;
}

.search-icon{
  position: absolute;
  display: flex;
  align-self: center;
  margin: 0.4rem;
} */

.temperature{
  font-size: xx-large;
  font-weight: 900;
}

svg{
  margin-right: 10px;
  color: #61dafb;
}

.forecast{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: aliceblue;
  border: 0;
  border-radius: 5px;
  padding: 0.4rem;
  min-height: 3rem;
  margin-bottom: 0.5rem;
}